Source: wmifs
Section: x11
Priority: optional
Maintainer: Martin A. Godisch <godisch@debian.org>
Build-Depends: libx11-dev, libxext-dev, libxpm-dev
Standards-Version: 3.9.4

Package: wmifs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: wmaker
Conflicts: wmppp.app (<= 1.1-1)
Replaces: wmppp.app (<= 1.1-1)
Description: WindowMaker dock app for monitoring network traffic
 wmifs is a dockable applet for X11 that can monitor all your network
 interfaces. It's designed for WindowMaker's Dock and AfterStep's Wharf,
 but it's not dependent on these window managers and should work with any
 other.
 .
 WMiFS stands for "Window Maker InterFace Statistics".
