Source: wmifs
Section: x11
Priority: optional
Maintainer: Ben Gertzfield <che@debian.org>
Standards-Version: 2.4.0.0

Package: wmifs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: wmppp.app (<= 1.1-1)
Replaces: wmppp.app (<= 1.1-1)
Description: WindowMaker dock app for monitoring network traffic
 wmifs is a dockable applet for X11 that can monitor all
 your network interfaces. It's designed for WindowMaker's dock, but
 it works with other windowmanagers of course.
